@font-face {
    font-family: 'UtoImageGothic';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/utoImagegothic/UtoImageGothicLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/utoImagegothic/UtoImageGothicLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/utoImagegothic/UtoImageGothicLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/utoImagegothic/UtoImageGothicLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/utoImagegothic/UtoImageGothicLight.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'UtoImageGothic';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/utoImagegothic/UtoImageGothicRegular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/utoImagegothic/UtoImageGothicRegular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/utoImagegothic/UtoImageGothicRegular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/utoImagegothic/UtoImageGothicRegular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/utoImagegothic/UtoImageGothicRegular.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'UtoImageGothic';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/utoImagegothic/UtoImageGothicBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/utoImagegothic/UtoImageGothicBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/utoImagegothic/UtoImageGothicBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/utoImagegothic/UtoImageGothicBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/utoImagegothic/UtoImageGothicBold.ttf') format("truetype");
    font-display: swap;
}