/** @format */

.container {
	max-width: 1200px;
	margin: 0 auto;
}
.popUpBox {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 999;
	display: none;
}
.popUp {
	position: absolute;
	width: 600px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	line-height: 2;
	border: 1px solid #000;
	background: #fff;
	padding: 20px;
}
.popUp p {
	font-size: 15px;
	margin-top: 10px;
}
.popUp div {
	margin-top: 30px;
}
.popUp button {
	float: right;
	padding: 4px;
	cursor: pointer;
}
