/** @format */

.slider__inner {
	width: 1200px;
	height: 300px;
	overflow: hidden;
	margin-bottom: 20px;
}
.slider {
	position: relative;
}
.slider p {
	position: absolute;
	left: 0;
	top: 10px;
	background-color: #fff;
	padding: 10px 20px;
}
