/** @format */

@import url("https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: none;
}

body {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	font-family: "Galmuri9";
}

#header {
	position: fixed;
	width: 100%;
	background: #182747;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
}

#header h1 {
	font-size: 20px;
	color: #fff;
	padding: 5px 0;
}
#header .time {
	color: #fff;
}

#footer {
	position: fixed;
	left: 0;
	bottom: 0;
	text-align: center;
	width: 100%;
	background: #182747;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 10px;
	color: #fff;
}

.icon1 {
	position: absolute;
	left: 100px;
	top: 100px;
	width: 54px;
}
.icon2 {
	position: absolute;
	left: 100px;
	top: 200px;
	width: 54px;
}
.icon3 {
	position: absolute;
	left: 100px;
	top: 300px;
	width: 54px;
}
.icon4 {
	position: absolute;
	left: 100px;
	top: 400px;
	width: 54px;
}
.icon5 {
	position: absolute;
	left: 100px;
	top: 500px;
	width: 54px;
}
.icon6 {
	position: absolute;
	left: 100px;
	top: 600px;
	width: 54px;
}
.icon_box img {
	width: 54px;
}
.icon_box span {
	display: inline-block;
	background: rgba(0, 0, 0, 0.7);
	font-size: 14px;
	padding: 3px 5px;
	white-space: nowrap;
	color: #fff;
}
.mouse__cursor {
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 34px;
	user-select: none;
	pointer-events: none;
	z-index: 9999;
}

/* 모달 */
.modal__btn {
	width: 130px;
	height: 130px;
	position: absolute;
	right: 20px;
	bottom: 40px;
}
.modal__btn img {
	width: 100%;
}
.modal__btn span {
	white-space: nowrap;
	font-size: 14px;
	padding: 3px 5px;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.7);
}
.window__cont {
	width: 300px;
	height: 300px;
	position: fixed;
	right: 10%;
	bottom: 10%;
	overflow-x: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0);
}
.window__box {
	width: 300px;
	height: 300px;
	background-color: #c7c7c7;
	padding: 4px;
	border-left: 2px solid #fcfcfc;
	border-top: 2px solid #fcfcfc;
	border-right: 2px solid #2a2a2a;
	border-bottom: 2px solid #2a2a2a;
	transform: scale(0);
}
.title_bar {
	background-color: #000080;
	padding: 4px;
	height: 30px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.title_bar > .minimize,
.title_bar > .maximize,
.title_bar > .close {
	width: 26px;
	height: 22px;
	background-color: #c7c7c7;
	margin-left: 4px;
	border-left: 2px solid #fcfcfc;
	border-top: 2px solid #fcfcfc;
	display: flex;
	align-items: center;
	justify-content: center;
	/* cursor: pointer; */
}
.title_bar > .minimize:hover,
.title_bar > .maximize:hover,
.title_bar > .close:hover {
	background-color: #bababa;
	border-left: 2px solid #2a2a2a;
	border-top: 2px solid #2a2a2a;
	border-right: 2px solid #fcfcfc;
	border-bottom: 2px solid #fcfcfc;
}
.title_bar > .minimize {
	align-items: flex-end;
}
.title_bar > .minimize > .symbol {
	width: 60%;
	height: 3px;
	background-color: #000000;
	margin-bottom: 2px;
}
.title_bar > .maximize > .symbol {
	width: 70%;
	height: 80%;
	border: 2px solid #000000;
	border-top-width: 4px;
}
.title_bar > .close > .symbol {
	width: 70%;
	height: 3px;
	background-color: #000000;
	transform: rotate(45deg);
}
.title_bar > .close > .symbol::after {
	content: "";
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 3px;
	background-color: #000000;
	transform: rotate(90deg);
}
.menu__bar {
	text-align: left;
	margin-left: 2px;
}
.menu__bar > span {
	padding: 7px;
	display: inline-block;
	/* cursor: pointer; */
	margin-right: 5px;
	font-family: "DungGeunMo";
}
.menu__bar > span::first-letter {
	text-decoration: underline;
}
.menu__bar > span:hover {
	background-color: #bababa;
}
.window__container {
	height: calc(100% - 90px);
	border-left: 2px solid #2a2a2a;
	border-top: 2px solid #2a2a2a;
	border-right: 2px solid #fcfcfc;
	border-bottom: 2px solid #fcfcfc;
}
.window__container .content {
	display: flex;
	height: 100%;
}
.window__container > .content > .main,
.window__container > .content > .scroll {
	width: 26px;
}
.window__container > .content > .main {
	width: calc(100% - 26px);
	height: 100%;
}
.window__container > .content > .scroll {
	width: 26px;
}
.scroll {
	background-color: #d7d7d7;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}
.scroll > .progress {
	width: 24px;
	height: 70%;
	cursor: pointer;
	border-left: 2px solid #fcfcfc;
	border-top: 2px solid #fcfcfc;
	border-right: 2px solid #2a2a2a;
	border-bottom: 2px solid #2a2a2a;
	background-color: #c7c7c7;
}
.scroll > .progress:hover {
	background-color: #bababa;
}
.scroll > .start,
.scroll > .end {
	width: 24px;
	height: 22px;
	position: relative;
	border-left: 2px solid #fcfcfc;
	border-top: 2px solid #fcfcfc;
	border-right: 2px solid #2a2a2a;
	border-bottom: 2px solid #2a2a2a;
	background-color: #c7c7c7;
}
.scroll > .start:hover,
.scroll > .end:hover {
	background-color: #bababa;
	border-left: 2px solid #2a2a2a;
	border-top: 2px solid #2a2a2a;
	border-right: 2px solid #fcfcfc;
	border-bottom: 2px solid #fcfcfc;
}
.scroll > .start::after,
.scroll > .end::after {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	top: 6px;
	left: 4px;
	border-top: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #000000;
}
.scroll > .end::after {
	transform: rotate(180deg);
}
.scroll__row {
	background-color: #d7d7d7;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	flex-direction: row;
}
.scroll__row > .progress {
	width: 24px;
	height: 70%;
	cursor: pointer;
	border-left: 2px solid #fcfcfc;
	border-top: 2px solid #fcfcfc;
	border-right: 2px solid #2a2a2a;
	border-bottom: 2px solid #2a2a2a;
	background-color: #c7c7c7;
}
.scroll__row > .progress:hover {
	background-color: #bababa;
}
.scroll__row > .start,
.scroll__row > .end {
	width: 24px;
	height: 22px;
	position: relative;
	border-left: 2px solid #fcfcfc;
	border-top: 2px solid #fcfcfc;
	border-right: 2px solid #2a2a2a;
	border-bottom: 2px solid #2a2a2a;
	background-color: #c7c7c7;
}
.scroll__row > .start:hover,
.scroll__row > .end:hover {
	background-color: #bababa;
	border-left: 2px solid #2a2a2a;
	border-top: 2px solid #2a2a2a;
	border-right: 2px solid #fcfcfc;
	border-bottom: 2px solid #fcfcfc;
}
.scroll__row > .start::after,
.scroll__row > .end::after {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	top: 6px;
	left: 4px;
	border-top: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #000000;
}
.scroll__row > .progress {
	width: 30%;
	height: 24px;
}
.scroll__row > .start::after {
	transform: rotate(-90deg);
}
.scroll__row > .end::after {
	transform: rotate(90deg);
}
.window__box .cont {
	height: 100%;
	overflow-y: auto;
}
.window__box .cont > div {
	display: none;
}
.window__box .cont > div {
	display: block;
	height: 100%;
}
.window__box .cont > div ul {
	padding: 30px 20px;
	text-align: center;
	list-style: none;
}
.window__box .cont > div ul li {
	padding: 10px;
}
.window__box .cont > div ul li a {
	font-size: 18px;
	color: #000000;
	text-decoration: none;
}
.window__box .cont > div ul li a:hover {
	text-decoration: underline;
}
.window__box .menu__bar > span.active {
	background-color: rgb(132, 131, 131);
}

/* 윈도우 애니메이션 */
.window__cont.show {
	/* 전체 배경 */
	animation: foldOut 0.5s ease forwards;
}
.window__cont.show.hide {
	/* 스크립트 박스 */
	animation: foldIn 0.3s 0.5s ease backwards;
}
.window__cont.show .close {
	/* 닫기 버튼 */
	animation: opacityOut 0.5s 1s ease forwards;
	opacity: 0;
}
.window__cont.show .window__box {
	animation: zoomOut 0.5s 1s ease forwards; /* 뒤에 있는 초는 딜레이를 뜻함 */
}
.window__cont.show.hide .window__box {
	animation: zoomIn 0.5s ease forwards;
}
.window__cont.show.hide .close {
	animation: opacityIn 0.5s ease forwards;
}
@keyframes foldOut {
	0% {
		transform: scaleX(0) scaleY(0.001);
	}
	50% {
		transform: scaleX(1) scaleY(0.001);
	}
	100% {
		transform: scaleX(1) scaleY(1);
	}
}
@keyframes foldIn {
	0% {
		transform: scaleX(1) scaleY(1);
	}
	50% {
		transform: scaleX(1) scaleY(0.001);
	}
	100% {
		transform: scaleX(0) scaleY(0.001);
	}
}
@keyframes zoomOut {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes zoomIn {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes opacityOut {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes opacityIn {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
