@import url('https://webfontworld.github.io/Jalpullineun/JalpullineunOneul.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JalpullineunOneul';
}
body {
    width: 100%;
    height: 100vh;
    
}
body.img01 {
    background: #000 url(../img/effect_bg01@2x.jpg) no-repeat center / cover;
}
body.img02 {
    background: #000 url(../img/effect_bg02@2x.jpg) no-repeat center / cover;
}
body.img03 {
    background: #000 url(../img/effect_bg03@2x.jpg) no-repeat center / cover;
}
body.img04 {
    background: #000 url(../img/effect_bg04@2x.jpg) no-repeat center / cover;
}
body.img05 {
    background: #000 url(../img/effect_bg05@2x.jpg) no-repeat center / cover;
}
body.img06 {
    background: #000 url(../img/effect_bg06@2x.jpg) no-repeat center / cover;
}
body.img07 {
    background: #000 url(../img/effect_bg07@2x.jpg) no-repeat center / cover;
}
body.img08 {
    background: #000 url(../img/effect_bg08@2x.jpg) no-repeat center / cover;
}
body.img09 {
    background: #000 url(../img/effect_bg09@2x.jpg) no-repeat center / cover;
}
body.img10 {
    background: #000 url(../img/effect_bg10@2x.jpg) no-repeat center / cover;
}

body::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(140, 140, 140, 0.591);
    z-index: -1;
}
img {
    width: 100%;
    vertical-align: top;
}
a {
    color: #fff;
    text-decoration: none;
}
/* scroll */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: rgb(35, 43, 44);
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(123, 128, 139, 0.589);
}

/* header */
#header {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    padding: 20px;
}
#header h1 {
    display: inline-block;
    font-weight: 300;
    margin-bottom: 10px;
    border-bottom: 1px dashed #fff;
}
#header p {
    margin-bottom: 10px;
}
#header li {
    display: inline-block;
}
#header li a {
    border: 1px solid #fff;
    border-radius: 40%;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
}
#header li.active a {
    background-color: #fff;
    color: #282936;
}

/* layout */
#header {
    z-index: 2000;
}
#main {
    position: relative;
    z-index: 1000;
}
#footer {
    position: relative;
    z-index: 3000;
}

/* footer */
#footer .source {
    position: absolute;
    right: 20px;
    bottom: 20px;
    border: 1px solid #fff;
    border-radius: 40px;
    padding: 10px 30px;
    font-size: 14px;
}

/* modal__wrap */
.modal__wrap {}
.modal__btn {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    display: inline-block;
    padding: 10px 20px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.modal__btn:hover {
    background-color: rgb(200, 203, 203);
    color: rgb(64, 67, 69);
}
.modal__cont {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.539);
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}
.modal__box {
    width: 70%;
    height: 70vh;
    /* overflow-y: auto; */
    border-radius: 0.6rem;
    box-shadow: 0 10px 20px -5px hsl(180deg 2% 10%);
    transform: scale(0);
    /* overflow: hidden; */
}
.modal__box .title {
    padding-inline: 1rem;
    cursor: grab;
    background-color: hsl(180deg 4% 16%);
    display: flex;
    align-items: center;
    color: #fff;
    height: 50px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

}
.modal__box .title .dot {
    width: 15px;
    height: 15px;
    background-color: rgb(249, 225, 47);
    display: inline-block;
    border-radius: 50%;
    position: relative;
    margin-left: 30px;
}
.modal__box .title .dot::before {
    content: '';
    position: absolute;
    left: 25px;
    top: 0;
    width: 15px;
    height: 15px;
    background-color: rgb(81, 249, 47);
    border-radius: 50%;
}
.modal__box .title .dot::after {
    content: '';
    position: absolute;
    right: 25px;
    top: 0;
    width: 15px;
    height: 15px;
    background-color: rgb(237, 73, 36);
    border-radius: 50%;
}
.modal__box .title .plus {
    padding: 0.5rem 0.5rem 0.3rem 0.5rem;
    background: hsl(22deg 3% 24%);
    border-radius: 0.5rem;
}
.modal__box .title .tabs {
    display: flex;
    margin-left: 50px;
}
.modal__box .title .tabs > div {
    color: hsl(194deg 26% 60%);
    background-color: hsl(22deg 3% 24%);
    padding: 0.35rem 0.8rem 0.25rem 0.8rem;
    margin-right: 0.8rem;
    display: flex;
    align-items: center;
    border-radius: 0.3rem;
    text-transform: uppercase;
    cursor: pointer;
}
.modal__box .title .tabs > div.active {
    background-color: rgb(90, 87, 84);
}
.modal__box .title .tabs > div em {
    font-style: normal;
}
.modal__box .title .tabs > div .favicon {
    margin-right: 0.4rem;
    margin-top: 0.2rem;
}
.modal__box .title .tabs > div .close {
    margin-left: 3rem;
}
.modal__box .cont {
    background-color: #282c34;
    height: 100%;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    overflow-y: auto;
}
.modal__box .cont > div {
    display: none;
}
.modal__box .cont > div.active {
    display: block;
    height: 100%;
}
.modal__close {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: hsl(22deg 3% 24%);
    padding: 1rem 1rem 0.8rem 1rem;
    border-radius: 5px;
    box-shadow: 0 5px 7px -5px rgba(25, 26, 26, 0.947);
    transition: all 0.3s;
}
.modal__close:hover {
    background-color: rgb(90, 87, 84);
}
.modal__close svg {
    color: #fff;
}
/* 모달 애니메이션 */
.modal__cont.show {     /* 전체 배경 */
    animation: foldOut 0.5s ease forwards;
}
.modal__cont.show.hide {        /* 스크립트 박스 */
    animation: foldIn 0.3s 0.5s ease backwards;
}
.modal__cont.show .modal__close {     /* 닫기 버튼 */
    animation: opacityOut 0.5s 1s ease forwards;
    opacity: 0;
}
.modal__cont.show .modal__box {
    animation: zoomOut 0.5s 1s ease forwards;   /* 뒤에 있는 초는 딜레이를 뜻함 */
}
.modal__cont.show.hide .modal__box {
    animation: zoomIn 0.5s ease forwards;
}
.modal__cont.show.hide .modal__close {
    animation: opacityIn 0.5s ease forwards;
}
@keyframes foldOut {
    0% {transform: scaleX(0.001) scaleY(0);}
    50% {transform: scaleX(0.001) scaleY(1);}
    100% {transform: scaleX(1) scaleY(1);}
}
@keyframes foldIn {
    0% {transform: scaleX(1) scaleY(1);}
    50% {transform: scaleX(0.001) scaleY(1);}
    100% {transform: scaleX(0.001) scaleY(0);}
}
@keyframes zoomOut {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}
@keyframes zoomIn {
    0% {transform: scale(1);}
    100% {transform: scale(0);}
}
@keyframes opacityOut {
    0%   {opacity:0;}
    100% {opacity:1;}
}
@keyframes opacityIn {
    0%   {opacity:1;}
    100% {opacity:0;}
}

@media(max-width: 1100px) {
    .modal__box .title {
        overflow: hidden;
    }
    .modal__box .title .dot {
        display: none;
    }
    .modal__box .title .tabs {
        margin-left: 0;
    }
    .modal__box .title .tabs > div .close {
        display: none;
    }
}
@media(max-width: 800px) {
    #header {
        width: 100%;
        text-align: center;
    }
    #header h1 {
        line-height: 1.4;
    }
    .modal__box {
        width: 96%;
    }
}
/* 요소를 안보이게 하는 방법
    1. display: none;       (애니메이션X, 영역X)
    2. opacity: 0;          (애니메이션O, 영역O)
    3. visibility: hidden;  (애니메이션X, 영역X)
    4. width: 0; height: 0; (애니메이션X, 영역X) : blind
    5. transform: scale(0); (애니메이션O, 영역X)
*/