#sliderType {
    margin-bottom: 60px;
    width: 100%;

}

.slider__img {
    /* 이미지 보이는 영역 */
    width: 850px;
    height: 480px;
    overflow: hidden;
}
.slider__inner {
    display: flex;
    flex-wrap: wrap;
    width: 2550px;
    height: 480px;

}
.slider {
    /* 개별적인 이미지 */
    width: 850px;
    height: 480px;
}