/** @format */

#main {
	width: 100%;
	height: 100vh;
	/* 메인 페이지 top */
	#youtube__recom {
		margin-top: 140px;
		.main__title {
			text-align: center;
			font-weight: 700;
			font-size: 38px;
			font-family: var(--font-Eng);
			position: relative;
			margin-bottom: 24px;
			em {
				color: var(--main-color);
			}
			&::before {
				content: "";
				position: absolute;
				left: 50%;
				bottom: -10px;
				width: 50px;
				height: 2px;
				background: var(--main-color);
				transform: translate(-50%, -50%);
			}
		}
		.main__sub {
			text-align: center;
			font-size: 1rem;
			font-weight: 400;
			margin-bottom: 70px;
			em {
				color: var(--main-color);
			}
		}
		.main__youtube__music {
			display: flex;
			justify-content: space-between;
			height: 390px;
			.player__left {
				width: 60%;
				background: url(../img/youtube_bg.jpg);
				background-size: cover;
				background-repeat: no-repeat;
				border-radius: 10px;
			}
			.player__right {
				width: 35%;
				text-align: center;
				.you__title {
					font-family: var(--font-Eng);
					font-weight: 700;
					font-size: 24px;
					margin-bottom: 20px;
					img {
						width: 16px;
						height: 16px;
						vertical-align: -1px;
						margin-right: 5px;
					}
				}
				h3 {
					font-weight: 700;
					font-size: 22px;
					margin-bottom: 24px;
				}
				em {
					font-weight: 700;
					font-size: 18px;
					margin-bottom: 30px;
					display: block;
				}
				.main__tag {
					margin-bottom: 10px;
					ul {
						li {
							display: inline-block;
							font-size: 14px;
							padding: 5px;
						}
					}
				}
				.main__playBtn {
					display: flex;
					align-items: center;
					justify-content: center;
					margin-bottom: 25px;
					background-repeat: no-repeat;
					background-position: center;
					.play__btn {
						width: 20%;
						.play {
							display: inline-block;
							background: url(../img/play_button.svg);
							width: 30px;
							height: 30px;
							cursor: pointer;
						}
						.stop {
							display: inline-block;
							background: url(../img/stop_button.svg);
							width: 30px;
							height: 30px;
							cursor: pointer;
						}
					}

					.progress__box {
						width: 40%;
						.progress {
							position: relative;
							margin: 0 auto;
							width: 150px;
							height: 5px;
							background: #e5e5e5;
							border-radius: 5px;
							cursor: pointer;
							.bar {
								position: relative;
								z-index: 2;
								width: 50px;
								height: 5px;
								border-radius: 5px;
								background: #02ee9f;
								.bar__btn {
									position: absolute;
									top: 2px;
									left: 50px;
									transform: translate(-50%, -50%);
									width: 16px;
									height: 16px;
									background: #02ee9f;
									border-radius: 50%;
									z-index: 10px;
								}
							}
						}
					}
				}
				.main__icon {
					display: flex;
					justify-content: center;
					> a {
						width: 20%;

						img {
							width: 30px;
							height: 30px;
						}
					}
				}
			}
		}
	}
}
