@charset "UTF-8";
/** @format */
#main {
  width: 100%;
  height: 100vh;
  /* 메인 페이지 top */
}
#main #youtube__recom {
  margin-top: 140px;
}
#main #youtube__recom .main__title {
  text-align: center;
  font-weight: 700;
  font-size: 38px;
  font-family: var(--font-Eng);
  position: relative;
  margin-bottom: 24px;
}
#main #youtube__recom .main__title em {
  color: var(--main-color);
}
#main #youtube__recom .main__title::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 50px;
  height: 2px;
  background: var(--main-color);
  transform: translate(-50%, -50%);
}
#main #youtube__recom .main__sub {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 70px;
}
#main #youtube__recom .main__sub em {
  color: var(--main-color);
}
#main #youtube__recom .main__youtube__music {
  display: flex;
  justify-content: space-between;
  height: 390px;
}
#main #youtube__recom .main__youtube__music .player__left {
  width: 60%;
  background: url(../img/youtube_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}
#main #youtube__recom .main__youtube__music .player__right {
  width: 35%;
  text-align: center;
}
#main #youtube__recom .main__youtube__music .player__right .you__title {
  font-family: var(--font-Eng);
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
}
#main #youtube__recom .main__youtube__music .player__right .you__title img {
  width: 16px;
  height: 16px;
  vertical-align: -1px;
  margin-right: 5px;
}
#main #youtube__recom .main__youtube__music .player__right h3 {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 24px;
}
#main #youtube__recom .main__youtube__music .player__right em {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 30px;
  display: block;
}
#main #youtube__recom .main__youtube__music .player__right .main__tag {
  margin-bottom: 10px;
}
#main #youtube__recom .main__youtube__music .player__right .main__tag ul li {
  display: inline-block;
  font-size: 14px;
  padding: 5px;
}
#main #youtube__recom .main__youtube__music .player__right .main__playBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  background-repeat: no-repeat;
  background-position: center;
}
#main #youtube__recom .main__youtube__music .player__right .main__playBtn .play__btn {
  width: 20%;
}
#main #youtube__recom .main__youtube__music .player__right .main__playBtn .play__btn .play {
  display: inline-block;
  background: url(../img/play_button.svg);
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#main #youtube__recom .main__youtube__music .player__right .main__playBtn .play__btn .stop {
  display: inline-block;
  background: url(../img/stop_button.svg);
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#main #youtube__recom .main__youtube__music .player__right .main__playBtn .progress__box {
  width: 40%;
}
#main #youtube__recom .main__youtube__music .player__right .main__playBtn .progress__box .progress {
  position: relative;
  margin: 0 auto;
  width: 150px;
  height: 5px;
  background: #e5e5e5;
  border-radius: 5px;
  cursor: pointer;
}
#main #youtube__recom .main__youtube__music .player__right .main__playBtn .progress__box .progress .bar {
  position: relative;
  z-index: 2;
  width: 50px;
  height: 5px;
  border-radius: 5px;
  background: #02ee9f;
}
#main #youtube__recom .main__youtube__music .player__right .main__playBtn .progress__box .progress .bar .bar__btn {
  position: absolute;
  top: 2px;
  left: 50px;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  background: #02ee9f;
  border-radius: 50%;
  z-index: 10px;
}
#main #youtube__recom .main__youtube__music .player__right .main__icon {
  display: flex;
  justify-content: center;
}
#main #youtube__recom .main__youtube__music .player__right .main__icon > a {
  width: 20%;
}
#main #youtube__recom .main__youtube__music .player__right .main__icon > a img {
  width: 30px;
  height: 30px;
}