/* card Type */
.card__inner {
    display: flex;
    justify-content: space-around;
}
.card {
    width: 25%;
    background-color: #f9f6f6;
    margin-right: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
}
.card__header img {
    border-radius: 10px;
}

.card__body .tit {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}
.card__body .desc {
    font-size: 18px;
    line-height: 1.4;
    color: #666;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;

}
.card__body .btn {
    position: absolute;
    right: 0;
}
@media(max-width: 970px) {
    .card__body .tit {
        font-size: 20px;
    }
    .card__body .desc {
        font-size: 16px;
    }
}
@media(max-width: 700px) {
    .card__body .desc {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; 
        -webkit-box-orient: vertical;
    }

}
@media(max-width: 600px) {
    .card:last-child {
        display: none;
    }
}
@media(max-width: 480px) {
    .card__inner {
        flex-direction: column;
    }
    .card {
        width: 100%;
    }
}