/* textType03 */
#textType02 {
    background-color: #EFFAFF;
}
.text__inner02 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}
.text__inner02 .text {
    width: 29%;
    height: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}
.text__inner02  .text .text__desc {
    line-height: 1.5;
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: normal;
    height: 50%;
}
.text__inner02  .text__main2 {
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.text__inner02  .text .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    margin-right: 20px;
    line-height: 80px;
}
.icon img {
    width: auto;
    vertical-align: inherit;
}
.text__inner02  .text:nth-child(1) .icon {
    background-color: #4856ec28;
}
.text__inner02  .text:nth-child(2) .icon {
    background-color: #ffd6d670;
}
.text__inner02  .text:nth-child(3) .icon {
    background-color: #bdff876d;
}
.text__inner02 .info {
    display: flex;
    flex-direction: column;
}

.text__inner02 .user {
    margin-bottom: 10px;
    font-size: 24px;
}
.text__inner02 .info .good img {
    width: auto;
}
.text__inner02 .user em {
    font-style: normal;
    font-size: 16px;
    font-weight: 200;
    margin-left: 5px;
}
.text__inner02 .text__btn {
    display: block;
    text-align: center;
    width: 108px;
    height: 29px;
    background-color: #5C6BF3;
    border-radius: 40px;
    line-height: 29px;
    color: #fff;
    margin: 0 auto;
    font-size: 14px;
}
@media(max-width: 970px) {
    .text__inner02 .text {
        width: 27%;
        height: auto;
    }
    .text__inner02 .text .text__desc {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5; 
        -webkit-box-orient: vertical;
    }
    .text__inner02 .user{
        font-size: 20px;
    }
}
@media(max-width: 750px) {
    .text__inner02 .text:last-child {
        display: none;
    }
    .text__inner02 .text {
        width: 42%;
    }
}
@media(max-width: 550px) {
    .text__inner02 {
        flex-direction: column;
    }
    .text__inner02 .text {
        width: 90%;
    }
    .text__inner02 .text:first-child {
        margin-bottom: 50px;
    }
}