
.text__logo {
    font-size: 14px;
    margin-bottom: 20px;
    width: 150px;
    height: 23px;
    background-color: #FF3344;
    color: #fff;
    border-radius: 30px;
    text-align: center;
    line-height: 23px;
}
.text__wrap h2 {
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 20px;
    font-weight: 600;
    word-break: keep-all;
}

.text__wrap p {
    font-size: 18px;
    margin-bottom: 10px;
    word-break: keep-all;
}
.text__inner {
    display: flex;
    
}
.text__header {
    width: 28%;
    padding-right: 40px;
}
.text__main {
    width: 68%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.text__main .text__box {
    width: 47%;
    margin-bottom: 50px;
}
.text__main .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    margin-bottom: 10px;
}
.text__main .icon img {
    width: auto;
    vertical-align: inherit;
}
.text__main .icon.icon1 {
    background-color: #72c4ff82;
}
.text__main .icon.icon2 {
    background-color: #9d95fc80;
}
.text__main .icon.icon3 {
    background-color: #a0decd6c;
}
.text__main .icon.icon4 {
    background-color: #daa6de6d;
}
.text__main .tit {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}
.text__main .desc {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
}

@media(max-width : 1220px) {
    .text__inner {width: 96%;}
}

@media(max-width : 775px) {
    .text__main {
        width: 100%;
    }
    .text__inner {
        margin: 0 auto; 
        flex-direction: column; 
        align-items: center;
    }
    .text__logo {
        text-align: center;
        display: inline-block;
    }
    .text__header {
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .text__wrap p {
        margin-bottom: 50px;
    }
    .text__main .text__box {
        width: 100%;
    }
}

@media(max-width : 700px) {
    .text__text {
        width: auto; 
        margin-left: 20px;
    }
    .text__card {
        width: 100%; 
        justify-content: flex-end; 
        margin-top: 30px;
        padding: 0;
    }
    .text__card .text { 
        margin-bottom: 50px;
    }
    .text__card .text:nth-child(3) {
        margin-bottom: 50px;
    }
    .text__card .text:nth-child(4) {
        margin-bottom: 0px;
    }
    .text__card .text p  {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; 
        -webkit-box-orient: vertical;
    }
}

@media(max-width : 468px) {
    .text__wrap h2 {
        font-size: 32px;
    }
    .text__wrap p {
        font-size: 16px;
    }
    .text__card .text {
        width: 96%; 
        text-align: center;
    }
    .text__card .text .icon {
        margin: 0 auto 30px auto;
    }
}